Repository jake-pauls/playr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint client/src/**/*.js -c client/.eslintrc.json --fix, eslint server/src/**/*.ts -c server/.eslintrc.json --fix

.lintstagedrc:

{
  "client/src/**/*.js": "eslint client/src/**/*.js -c client/.eslintrc.json --fix",
  "server/src/**/*.ts": "eslint server/src/**/*.ts -c server/.eslintrc.json --fix"
}

Updated circle-ci pipeline with Istanbul, Jest-Junit, and Code Climate coverage/test reporting
  .circleci/config.yml
  .gitignore
  README.md
  client/e2e/jest.config.js
  client/package.json
  client/yarn.lock
  server/src/index.ts
Due: eslint server/src/**/*.ts -c server/.eslintrc.json --fix

Added Jest setup file to resolve issues in CI
  .circleci/config.yml
  client/e2e/jest.config.js
  client/e2e/jest.setup.js
Due: none

Added server build to CI pipeline, added code climate ESLint setup
  .circleci/config.yml
  .codeclimate.yml
Due: none

First batch of UI tests, factory methods, and utils
  client/.eslintrc.json
  client/e2e/home.test.js
  client/e2e/landing.test.js
  client/e2e/newPlaytest.test.js
  client/e2e/playtestFactory.js
  client/e2e/testUtils.js
  client/jest-puppeteer.config.js
  client/package.json
  client/src/__tests__/base.test.js
  client/src/pages/Home.js
  client/src/pages/NewPlaytest.js
Due: eslint client/src/**/*.js -c client/.eslintrc.json --fix

Added more ui/e2e tests
  client/.eslintrc.json
  client/e2e/newPlaytest.test.js
  client/e2e/playtest.test.js
  client/e2e/playtestFactory.js
  client/e2e/testUtils.js
  client/src/pages/NewPlaytest.js
Due: eslint client/src/**/*.js -c client/.eslintrc.json --fix

Modified code climate configuration for static code analysis
  .codeclimate.yml
Due: none

Revised puppeteer config for X server to launch properly in CI
  .codeclimate.yml
  client/jest-puppeteer.config.js
Due: none
